
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @group Untitled Group */

/* @end */






body{
	background: url('images/grass2.jpg')  center top;
	
}

#container{
background: rgba(42, 54, 59, 0.9);
	width: 1000px;
	margin: 0 auto;
	padding:0;
	margin-top: 70px;
	margin-bottom: 70px;
	border-radius:25px;
	-moz-border-radius:25px;	
}
h1{
	font: 80pt "Appleberry", Arial, Helvetica, Geneva, sans-serif;
	color: #f310b6;
	padding-top: 25px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 25px;
	-moz-border-radius:25px;
	text-shadow: 2px 2px 5px #000000;	
}
.super_logo{
	color: #fff;
	font: 80pt "Appleberry", Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 2px 2px 5px #000000;
}
.logo{
	color: #fff;
	font: 12pt "Appleberry", Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 2px 2px 5px #000000;
}
.sub_logo{
	color: #f310b6;
	font: 12pt "Appleberry", Arial, Helvetica, Geneva, sans-serif;
	text-shadow: 2px 2px 5px #000000;
}
nav a{
	color: #00DFFC;
	text-decoration: none;
	padding-right: 15px;
	padding-bottom: 5px;
	font:  bold 22pt "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 400;
}
nav a:active {color:#f310b6; text-shadow: 2px 2px 5px #000;}
nav a:hover {color:#f310b6; text-shadow: 2px 2px 5px #000;}

nav{
	text-align: center;
	border-bottom: 4px dotted #fff;
	border-top: 4px dotted #fff;
	margin-bottom: 30px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main{
	height: 412px;
	width: 897px;
	margin-left: 50px;
	margin-top: 10px;
	border-radius: 25px;
	-moz-border-radius:25px;
	box-shadow: 6px 6px 4px 4px #333;	
}
footer{
	margin-top: 50px;
	padding-bottom: 25px;
	border-top: 4px dotted #fff;
}
footer p{
	margin-top: 5px;
	font: 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #a19da1;
	text-align: center;
	line-height: 50%;
	clear: both;
}

/* ABOUT ME */
article{
	width: 525px;
	color: #EEEEEE;
	font: 16pt "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	padding-left: 50px;
	padding-top: 5px;
	line-height: 150%;
	margin-bottom: 225px;
}

h2{
	color: #f310b6;
	font: bold 30pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-top: 60px;
	font-style: italic;
	text-shadow: 2px 2px 5px #000;
}
.about {
	height: 477px;
	width: 320px;
	float: right;
	box-shadow: 6px 6px 3px #333;
	border: 4px solid #fff;
	border-bottom-width: 60px;
	margin-right: 60px;
	margin-top: 20px;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* Internet Explorer */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
	}


/* CONTACT */
.contact {
	color: #eeeeee;
	font:  bold 16pt "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}
h3{
	color: #f310b6;
	font: bold 30pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 2px 5px #000;
	margin-top: 40px;
	padding-top: 70px;
}
ul{
	text-align: center;
}
#sub li{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 75px;
}
.facebook {
	background: url('images/facebook.jpg') no-repeat;
	height: 130px;
	width: 130px;
	display: block;
	box-shadow: 2px 2px 3px 3px #333;	
}
.twitter {
	background: url('images/twitter.jpg') no-repeat;
	height: 130px;
	width: 130px;
	display: block;
	margin-left: 50px;
	box-shadow: 2px 2px 3px 3px #333;
}

.gmail {
	background: url('images/google.jpg') no-repeat;
	height: 130px;
	width: 130px;
	display: block;
	margin-left: 50px;
	box-shadow: 2px 2px 3px 3px #333;
}


	/* Work */
.overview li{
	text-align: center;
	margin-top: 40px;
}
.work {
	color: #eeeeee;
	font:  bold 16pt "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	margin-bottom: 25px;
}

#slider-code { height: 700px; overflow:hidden; margin-left: 110px; }
#slider-code .viewport { float: left; width:700px; height: 700px; overflow: hidden; position: relative; }
#slider-code .buttons { display: block; margin: 150px 0 0 0; float: left; }
#slider-code .next { margin: 150px 0 0 0px;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 700px; width: 700px;}


















